<div id="card" class="container">
  <a style="display: block" href="{{ website }}">
    <div id="title-row" class="row">
      <div class="col-8">
        <h4 id="title">{{ foundationName }}</h4>
      </div>
    </div>
    <div id="info-row text-center" class="row">
      <div class="col-3">
        <div class="container">
          <div class="row bold-text">Location</div>
          <div class="row light-text smaller-font">{{ location }}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <div class="row bold-text">Website</div>
          <div class="row light-text smaller-font">
            {{ website }}
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="container">
          <div class="row bold-text">Location Supported</div>
          <div class="row light-text smaller-font">
            {{ locationSupported }}
          </div>
        </div>
      </div>
    </div>
    <div id="desc-row" class="row">
      <div class="col-3">
        <div class="container">
          <div class="row bold-text">Instititions Affiliated With</div>
          <div class="row light-text smaller-font">{{ affiliation }}</div>
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <div class="row bold-text">Diagnosis Supported</div>
          <div class="row light-text smaller-font">
            {{ diagnosis }}
          </div>
        </div>
      </div>
      <div class="col-3">
        <div class="container">
          <div class="row bold-text">Average Amount Provided</div>
          <div class="row light-text smaller-font">
            {{ amountProvided }}
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
