<div class="container title">
  <div class="row justify-content-center">
    <div class="col-4">
      <h3 id="title">{{ foundationName }}</h3>
    </div>
  </div>
</div>

<div id="card" class="container">
  <div id="title-row" class="row">
    <div class="col-8 bold-text">Charity Overview</div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Website</div>
    <div class="col-5">https://thenccs.org/financial-assistance</div>
    <div class="col-3"></div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Location</div>
    <div class="col-5">500 North Broadway, Suite 1850, St Louis MO 63102</div>
    <div class="col-3"></div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Average Amount Provided</div>
    <div class="col-5">$5,000</div>
    <div class="col-3"></div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Institutions Affiliated With</div>
    <div class="col-5">Mayo Clinic</div>
    <div class="col-3"></div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Diagnosis Supported</div>
    <div class="col-5">Brain Tumor, Leukemia, Sarcoma</div>
    <div class="col-3"></div>
  </div>

  <div id="info-row" class="row light-text">
    <div class="col-4">Locations Supported</div>
    <div class="col-5">All 50 States</div>
    <div class="col-3"></div>
  </div>
</div>
