<div class="container">
  <form class="form-group">
    <div class="row">
      <div class="col">
        <div class="dropdown">
          <button
            class="btn dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-bs-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Support Type
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Charity</a>
            <a class="dropdown-item" href="#">Hospital</a>
            <a class="dropdown-item" href="#">Medical Info</a>
          </div>
        </div>
      </div>
      <div class="col-6">
        <input type="text" class="form-control" placeholder="Location" />
      </div>
      <div class="col">
        <button
          class="container btn btn btn-warning my-2 my-sm-0"
          type="submit"
        >
          Search
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <input type="text" class="form-control" placeholder="Type of Cancer" />
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Stage of Cancer" />
      </div>

      <div class="col">
        <input type="text" class="form-control" placeholder="Income Range" />
      </div>

      <div class="col">
        <input type="text" class="form-control" placeholder="Age" />
      </div>
    </div>
  </form>
</div>
<app-card></app-card>
